### Django ###
*.log
*.pot
*.pyc
__pycache__/

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
.DS_Store
celerybeat-schedule
## File-based project format:
*.ipr
*.iws